In [11]:
import pandas as pd
import numpy as np

In [12]:
df_trips = pd.read_csv("/home/ctchervenkov/Documents/data/scenarios/switzerland_2018_10pct/output_trips.csv", sep=";")
df_trips.head()

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,start_time,travel_time,network_distance,mode,preceedingPurpose,followingPurpose,returning,crowfly_distance
0,7607985,0,2.595848e+06,1.123250e+06,2.595975e+06,1.123398e+06,0.0,70.0,0.414224,car,home,work,False,0.194511
1,3956472,0,2.611620e+06,1.268165e+06,2.612095e+06,1.268386e+06,0.0,144.0,0.823471,car,home,work,False,0.524534
2,1346393,0,2.681438e+06,1.246555e+06,2.681478e+06,1.247443e+06,0.0,178.0,1.173595,car,home,work,False,0.888177
3,3318350,0,2.682222e+06,1.224801e+06,2.681532e+06,1.225181e+06,0.0,202.0,1.613966,car,home,work,False,0.787492
4,3082912,0,2.692071e+06,1.208145e+06,2.690956e+06,1.208971e+06,0.0,221.0,1.938969,car,home,work,False,1.387174

In [22]:
df_trips[
    (df_trips["mode"] == "car")
]["network_distance"].sum() / 780000

22.27655423423571

In [3]:
df_trips_car = df_trips[df_trips["mode"] == "car"]
df_trips_car.head()

,person_id,person_trip_id,origin_x,origin_y,destination_x,destination_y,start_time,travel_time,network_distance,mode,preceedingPurpose,followingPurpose,returning,crowfly_distance
0,7607985,0,2.595848e+06,1.123250e+06,2.595975e+06,1.123398e+06,0.0,70.0,0.414224,car,home,work,False,0.194511
1,3956472,0,2.611620e+06,1.268165e+06,2.612095e+06,1.268386e+06,0.0,144.0,0.823471,car,home,work,False,0.524534
2,1346393,0,2.681438e+06,1.246555e+06,2.681478e+06,1.247443e+06,0.0,178.0,1.173595,car,home,work,False,0.888177
3,3318350,0,2.682222e+06,1.224801e+06,2.681532e+06,1.225181e+06,0.0,202.0,1.613966,car,home,work,False,0.787492
4,3082912,0,2.692071e+06,1.208145e+06,2.690956e+06,1.208971e+06,0.0,221.0,1.938969,car,home,work,False,1.387174

In [4]:
df_total_distance = df_trips_car[["person_id","network_distance"]].groupby("person_id").sum().reset_index()
df_total_distance.head()

   person_id  network_distance
0         31         26.598494
1        127         81.644679
2        130         99.493465
3        150         29.049295
4        151         50.524947

In [6]:
print("Average daily car distance:", np.round(df_total_distance["network_distance"].mean()), "km")

Average daily car distance: 43.0 km

In [9]:
1 - len(df_trips["person_id"].unique()) / 840174

0.060268468198254155